<launch>
	<node type = "hull_tests" name = "hull_tests" pkg = "hullify" output = "screen" launch-prefix = "xterm -e" />
	<node type = "convex_hull" name = "convex_hull" pkg = "hullify" output = "screen" launch-prefix = "xterm -e" />

	<node type = "controller_comm_client.py" name = "adept_controller_comm_client" pkg = "osu_ros_adept" output = "screen" launch-prefix = "xterm -e" />
	<node type = "manual_entry.py" name = "adept_manual_entry" pkg = "osu_ros_adept" output = "screen" launch-prefix = "xterm -e" />
</launch>
