<launch>
	<node type = "convex_hull" name = "convex_hull" pkg = "hullify" output = "screen" launch-prefix = "xterm -e" />

	<include file = "$(find osu_ros_adept)/launch/start_basic_connection.launch" />

	<include file = "$(find adept_moveit_connector)/launch/demo.launch" />

	<include file = "$(find kinect_ptcloud_converter)/launch/set_up_kinect.launch" />

	<node pkg = "moveit_int" name = "programmatic_moveit" type = "programmatic_moveit" launch-prefix = "xterm -e" />

	<!--<include file = "$(find flor_grasp_controllers)/launch/osu_robotiq_handle.launch" />
	<node pkg = "robotiq_s_model_control" name = "SModelSimpleController" type = "SModelSimpleController.py" />-->
	
</launch>