<?xml version="1.0"?>

<launch>

  <!-- Move the robot to the vehicle -->
  <node type="rostopic" pkg="rostopic" name="enter_vehicle_cmd" args="pub --once /drc_world/robot_enter_car geometry_msgs/Pose '{}'" output="screen"  />

  <!-- Release the hand brake -->
  <node type="rostopic" pkg="rostopic" name="release_brake_cmd" args="pub --once /drc_vehicle/hand_brake/cmd std_msgs/Float64 '{ data : 0 }'" output="screen"  />

  <!-- Cheat controller -->
  <node pkg="vigir_drive" type="cheat_drive" name="cheat_drive" >
  </node>

</launch>

