<?xml version="1.0"?>

<launch>
  <arg name="namespace" default="/vigir/footstep_manager" />
  <group ns="$(arg namespace)">
    <!-- start up footstep manager system -->
    <node name="onboard_footstep_manager" ns="$(arg namespace)" pkg="vigir_onboard_footstep_manager" type="onboard_footstep_manager" respawn="true" output="screen" >
      <param name="planner_namespace"    value="/vigir/footstep_planning" />
      <param name="controller_namespace" value="/robot_controllers/footstep_controller" />
    </node>
  </group>
</launch>
