<?xml version="1.0"?>

<launch>
  
  <!--ELAS needs rectified images, so we also have to start stereo_image_proc-->
  <include file="$(find vigir_launch_sandbox)/launch/stereo_image_proc_drc.launch" />
  
  <node pkg="elas_ros" type="elas_ros" name="elas_ros" output="screen">
    
    <!--Need to use approximate_sync as cameras run asyncronously-->
    <param name="approximate_sync" value="true" />
      
    <remap from="stereo/right/image" to="stereo/right/image_rect"/>
    <remap from="stereo/right/camera_info" to="/right_eye/camera_info"/>
    <remap from="stereo/left/image" to="/stereo/left/image_rect"/>
    <remap from="stereo/left/camera_info" to="/left_eye/camera_info"/>
  </node>

</launch>

