<?xml version="1.0"?>
<launch>
            
    <rosparam file="$(find vigir_atlas_sim_ros_control)/config/position_controllers.yaml" command="load" ns="joint_controllers"/>
    <node name="position_controller_spawner" pkg="controller_manager" type="spawner" ns="joint_controllers" respawn="false" output="screen" args="back_lbz_position_controller back_mby_position_controller back_ubx_position_controller neck_ay_position_controller l_leg_uhz_position_controller l_leg_mhx_position_controller l_leg_lhy_position_controller l_leg_kny_position_controller l_leg_uay_position_controller l_leg_lax_position_controller r_leg_uhz_position_controller r_leg_mhx_position_controller r_leg_lhy_position_controller r_leg_kny_position_controller r_leg_uay_position_controller r_leg_lax_position_controller l_arm_usy_position_controller l_arm_shx_position_controller l_arm_ely_position_controller l_arm_elx_position_controller l_arm_uwy_position_controller l_arm_mwx_position_controller r_arm_usy_position_controller r_arm_shx_position_controller r_arm_ely_position_controller r_arm_elx_position_controller r_arm_uwy_position_controller r_arm_mwx_position_controller" />

</launch> 