<?xml version="1.0"?>
<launch>

    <node name="atlas_sim_ros_control" pkg="vigir_atlas_sim_ros_control" type="atlas_sim_ros_control_node" output="screen">
    </node>
    
    <rosparam file="$(find vigir_atlas_sim_ros_control)/config/force_torque_sensor_controller.yaml" command="load" ns="joint_controllers"/>
    <node name="force_torque_sensor_controller_spawner" pkg="controller_manager" type="spawner" ns="joint_controllers" respawn="false" output="screen" args="force_torque_sensor_controller" />
    
    <rosparam file="$(find vigir_atlas_sim_ros_control)/config/imu_sensor_controller.yaml" command="load" ns="joint_controllers"/>
    <node name="imu_sensor_controller_spawner" pkg="controller_manager" type="spawner" ns="joint_controllers" respawn="false" output="screen" args="imu_sensor_controller" />


</launch> 