<?xml version="1.0"?>
<launch>

    <!--Controller setup-->
    <node name="atlas_sim_ros_control" pkg="vigir_atlas_sim_ros_control" type="atlas_sim_ros_control_node" output="screen">
    </node>
    
    <rosparam file="$(find vigir_atlas_sim_ros_control)/config/force_torque_sensor_controller.yaml" command="load" ns="joint_controllers"/>
    <node name="force_torque_sensor_controller_spawner" pkg="controller_manager" type="spawner" ns="joint_controllers" respawn="false" output="screen" args="force_torque_sensor_controller" />
    
    <rosparam file="$(find vigir_atlas_sim_ros_control)/config/imu_sensor_controller.yaml" command="load" ns="joint_controllers"/>
    <node name="imu_sensor_controller_spawner" pkg="controller_manager" type="spawner" ns="joint_controllers" respawn="false" output="screen" args="imu_sensor_controller" />

    <include file="$(find vigir_atlas_sim_ros_control)/launch/trajectory_controllers.launch"/>
      
      
      
    <!--MoveIt! setup-->
    <include file="$(find flor_atlas_moveit_config)/launch/move_group.launch"/>
    
    <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 world pelvis 100" /> 
      
    
    <node pkg="topic_tools" type="throttle" name="l_sandia_joint_state_throttle" args="messages /sandia_hands/l_hand/joint_states 20 /joint_states" />
    <node pkg="topic_tools" type="throttle" name="r_sandia_joint_state_throttle" args="messages /sandia_hands/r_hand/joint_states 20 /joint_states" />

      
</launch> 