<?xml version="1.0"?>

<launch>
  <arg name="namespace" default="/vigir/footstep_manager" />
  <group ns="$(arg namespace)">
    <!-- start up footstep manager system -->
    <node name="onboard_footstep_manager" ns="$(arg namespace)" pkg="vigir_onboard_footstep_manager" type="onboard_footstep_manager" respawn="true" output="screen" >
      <param name="planner_namespace"    value="/vigir/footstep_planning" />
      <param name="controller_namespace" value="/robot_controllers/footstep_controller" />
      <param name="max_planning_time"     value="21.0"/>
      <param name="max_number_steps"      value="99"  />
      <param name="max_path_length_ratio" value="4.5" />
      <param name="edit_mode"             value= "0"  />
      <param name="use_3d_planning"       value= "0"  />
      <param name="default_planning_parameter_set_name" value="drc_step_2D" />
    </node>
  </group>
</launch>
